@import "~bootstrap";

// body {
//     background-color: #202020;
//     color: #ccc;
// }

.card {
    $p: &;
    transition: .3s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(black, 0.2) 0 5px 10px;


        .btn {
            transform: translateY(-2px);
        }
    }

    .btn {
        transition: .3s;
    }
}